:not(pre) > code:before,
:not(pre) > code:after {
  font-size: 12px;
  opacity: 0;
}

:not(pre) > code {
  background: rgb(66, 83, 100);
}

.font-press-start {
  font-family: "Press Start 2P", sans-serif !important;
}

.text-highlight {
  color: transparent !important;
  background-color: #2b90b6;
  background-image: linear-gradient(90deg, #4ec5d4 40%, #146b8c 70%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.text-highlight-2 {
  color: var(--purple) !important;
}

.text-gradient-red {
  background-color: #2b90b6;
  background-image: linear-gradient(45deg, #f59e0b 20%, #ef4444 70%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
