:not(pre) > code:before,
:not(pre) > code:after {
  opacity: 0;
}

:not(pre) > code {
  background: rgb(66, 83, 100);
}

.text-highlight {
  color: transparent !important;
  background-color: #2B90B6;
  background-image: linear-gradient(90deg, #4EC5D4 40%, #146b8c 70%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.text-highlight-2 {
  color: var(--purple) !important;
}